<div class="container2gen">
    id: {{file.id}}<br/>
    name: {{file.name}}<br/>
    path: {{file.path}}<br/>
    size: {{file.size}}<br/>
    type: {{file.type}}<br/>
    savedate: {{file.date}}
</div>